/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary-dark: #075E54;
  --clr-primary: #6e9248;
  --clr-primary-light: #25D366;
  --clr-grey-1: #94cbe2;
  --clr-grey-5: #34B7F1;
  --clr-grey-10: #16475c;
  --clr-grey-12: #082c3b;
  --clr-linkandfirsttitle: #e9b949;
  --clr-linkandfirsttitle-dark: #251a01;
  --clr-white: #fff;
  --clr-oldpapier: #e9e7e5;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-primary-dark);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* more global css */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-light);
  color: var(--clr-primary-dark);
  padding: 0.775rem 1rem;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: bolder;
  transition: var(--transition);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}
.btn:hover {
  transform: scale(1.02);
  color: var(--clr-primary-light);
  background: var(--clr-grey-12);
  box-shadow: 0 1px 3px var(--clr-grey-5);
}
.btn a:hover{
  color: var(--clr-primary-light);
}
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
.container{
  display: flex;
  flex-direction: column;
}
.section-center {
  width: 99vw;
  margin: 0 0.6% 0 0.6%;
  padding: 1.3rem 2rem 0.2rem 2rem;
}
.section-title{
  text-align: center;
  text-align: -webkit-center;
  font-size: 3rem;
  font-family: var(--ff-secondary);
  color: var(--clr-linkandfirsttitle);
}

@media screen and (min-width: 992px) {
  .section-center {
    position: relative;
  }
}

/*
=============== 
Animation
===============
*/
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  /* 50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.75;
  } */
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  /* 50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.75;
  } */
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes show {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes show1 {
  0% {
    transform: scale(1.5);
    color: green;
    opacity: 0.5;
  }
  25% {
    transform: scale(2);
    color: var(--clr-grey-5);
    opacity: 1;
  }
  75% {
    transform: scale(2);
    color: red;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    color: green;
    opacity: 0.5;
  }
}

/*
=============== 
Navbar and header
===============
*/
.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
   position: relative;
  padding: 0 2rem;
  height: 100vh;
  width: 100vw;
  background-image: url(../images/servicehero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar .logo img{
  position: relative;
  width: 10rem;
  top: 2rem;
  left: -2rem;
}
.navbar{
  width: 100%;
  height: 3.75rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.navbar .links{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 2rem;
  flex-grow: 1;
  font-weight: bolder;
  text-shadow: 0 1px 3px var(--clr-primary-light);
}
.links .active{
  color: var(--clr-primary-light);
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 0 1px 3px var(--clr-primary-dark);
}
.links li {
  list-style: none;
}
.links a {
  color: var(--clr-primary-dark);
  font-size: 1.7rem;
}
.links a:hover{
  color: var(--clr-primary-light);
}
/* dropdown menu */
.navbar .toggle_btn{
  position: relative;
  top: 2rem;
  color: var(--clr-primary-light);
  font-size: 4rem;
  cursor: pointer;
  display: none;
  text-shadow: 0 1px 3px var(--clr-primary-light);
  z-index: 1;
  animation: bounce 4s infinite;
}
.navbar .toggle_btn.rotate {
  animation: rotate360 0.5s linear;
}
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 5.5rem;
  width: 18.75rem;
  height: 0;
  background: rgba(255, 255, 255 , 0);
  backdrop-filter: blur(20px);
  border-radius: var(--radius);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999;
  
}
.dropdown_menu.open {
  height: 25rem;
}
.dropdown_menu li{
  list-style: none;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu a{
  color: var(--clr-primary-light);
  font-size: 1.7rem;
  text-shadow: 0 2px 4px var(--clr-primary-dark);
  
}
.dropdown_menu a.active{
  color: var(--clr-grey-12);
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px var(--clr-primary-light);
}
.dropdown_menu a:hover{
  color: var(--clr-grey-12);
  text-shadow: 0 1px 3px var(--clr-primary-light);
}
/* banner */
.banner{
  height: calc(100vh - 60px);
  display: flex;
  align-self: center;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.banner h2{
  display: flex;
  flex-wrap: wrap;
  font-size: 2.5rem;
  font-family: var(--ff-secondary);
  color: var(--clr-grey-12);
  text-shadow: 0.5rem 0.5rem 1rem var(--clr-primary-light);
  /* animation */
  animation: slideFromRight 2s ease-in-out 1;
  
}
.banner h1{
  display: flex;
  flex-wrap: wrap;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: var(--clr-oldpapier);
  font-size: 2rem;
  margin: 2rem 0;
  /* animation */
  animation: slideFromLeft 2s ease-in-out 1;
  text-shadow: 0.5rem 0.5rem 1rem var(--clr-primary-light);
}
.arrow-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  position: relative;
  width: 30px;
  height: 30px;
  animation: bounce 2s infinite;
}

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid var(--clr-primary-light);
  border-width: 0 5px 5px 0;
  display: inline-block;
  transform: rotate(45deg);
}

.arrow::before {
  top: -10px;
  left: -10px;
}

.arrow::after {
  top: -10px;
  left: -10px;
}
/* responsive design */
@media screen and (max-width: 768px) {
  .arrow-container {
    
    bottom: 70px;
    
  }
}
@media screen and (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }
  .navbar .toggle_btn{
    display: block;
  }
  .dropdown_menu {
    display: block;
  }

  @media screen and (max-width: 576px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }
}
@media screen and (min-width: 992px) {
  .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
     position: relative;
    padding: 0 2rem;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/servicehero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .navbar a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar .logo img{
    display: block;
  }
}
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to right,
    var(--clr-primary),
    var(--clr-linkandfirsttitle-dark),
    var(--clr-linkandfirsttitle),
    var(--clr-linkandfirsttitle-dark),
    var(--clr-primary)
  );
}


/*
=============== 
Services
===============
*/
.services-title {
      margin-top: 2rem;
      
      text-align: center;
      font-size: 2.5rem;
    }
    .services-title h2{
      color: var(--clr-oldpapier);
      margin-bottom: -1rem;
    }
    .service-card {
      margin: 2rem 0;
      background: var(--clr-grey-10);
      border-radius: var(--radius);
      box-shadow: 0 5px 15px var(--clr-grey-5);
      transition: var(--transition);
    }
    .service-card:hover {
      transform: scale(1.02);
      box-shadow: 0 5px 15px var(--clr-primary-light);
    }
    .service-img-container {
      position: relative;
    }
    .service-img {
      height: 17rem;
      object-fit: cover;
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);
    }
    .service-icon {
      position: absolute;
      left: 50%;
      bottom: 0;
      font-size: 2rem;
      color: var(--clr-grey-12);
      background: var(--clr-primary-light);
      padding: 0.25rem 0.6rem;
      border-radius: 50%;
      transform: translate(-50%, 50%);
      border: 0.375rem solid var(--clr-grey-12);
    }
    .service-info {
      text-align: center;
      padding: 2rem 1rem 3rem 1rem;
    }
    .service-info h4{
      font-size: 1.35rem;
      text-align: center;
    }
    .service-info p {
      font-size: 1.5rem;
      color: var(--clr-grey-5);
      margin: 0 auto;
    }
    .service-btn {
      cursor: pointer;
      font-size: 1rem;
      text-transform: capitalize;
      padding: 0.375rem 0.75rem;
      border-radius: var(--radius);
      font-weight: 900;
      margin-top: 1.25rem;
    }
    /* @media screen and (min-width: 992px) {
      .service-card {
        float: left;
        width: 45%;
        margin: 2.5%;
        
      }
    } */
    @media screen and (max-width: 321px) {
      .service-info h4{
        font-size: 1.15rem;
        
      }
    }
    @media screen and (min-width: 992px) {
      .service-card {
        float: left;
        width: 31%;
        margin: 1.1%;
        
      }
    }




/* =============== 
Footer
=============== */

.footer {
  background: #222;
  text-align: center;
}
.social-icon {
  display: inline-flex;
  color: var(--clr-white);
  font-size: 1.68rem;
  margin-right: 1rem;
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-dark);
}
.social-icon img {
  width: 1.68rem;
  bottom: 4%;
  border-radius: 3px;
}
.social-icon img:hover{
  transform: scale(1.15);
}
.footer-text {
  margin-top: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-white);
  font-weight: 600;
  margin: 1.5rem;
}
.company {
  color: var(--clr-grey-5);
}
.designed{
  font-weight: bold;
  color: #752222;
  /* animation: show1 2s infinite; */
  
}
.designed1{
  text-transform: capitalize;
}
.return_to_top{
  margin-bottom: 20px;
  padding: 10px 20px;
  background: transparent;
  color: var(--clr-primary);
  border: none;
  border-radius: 10px;
  font-family: var(--ff-primary);
  font-weight: bolder;
  cursor: pointer;
  transition: opacity 0.8s ease-in-out;
}
.return_to_top:hover {
  background: transparent;
  opacity: 0.8;
}
/* CSS za stiliziranje modala za tel i explore jedinstveni za obadva modala */
.modal {
  display: none; /* Modal je inicijalno skriven */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(1, 18, 3, 0.8); /* Tamna pozadina */
}
.modal-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--clr-primary);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  height: auto;
  border-radius: 10px;
  position: relative;
}
.modal-content ul{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.modal-content a{
  color: var(--clr-primary-dark);
  font-weight: bolder;
}
.modal-content ul li:hover{
  color: var(--clr-primary-dark);
  font-weight: bolder;
  transform: scale(1.2);
}
.modal-content h2{
  font-size: 4rem;
  text-align: center;
}
.modal-content p{
  color: rgba(132, 3, 3, 0.4);
  float: left;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.close {
  position: absolute;
  top: -1.4rem;
  right: 0.2rem;
  display: block;
  color: var(--clr-primary-dark);
  float: right;
  font-size: 3rem;
  font-weight: bold;

}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btn-modal{
  background: transparent;
}
.btn-modal:hover{
  background: transparent;
}
.footer-nav {
  text-align: center; 
  padding-bottom: 1.5rem;
}

.footer-nav ul {
  list-style: none; 
  padding: 0;
}

.footer-nav ul li {
  display: inline; /* Prikazivanje stavki u liniji */
  margin: 0 1rem; /* Razmak između stavki */
}

.footer-nav ul li a {
  color: #fff; 
  text-decoration: none; 
  font-size: 1rem;
}
@media screen and (max-width: 576px) {
  .social-icon img {
    width: 1.439rem;
  }
}




